<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedScanAI</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    
    <div class="bg">
        
        <div id="h-one">
            <h1 id="logo">MedScanAI</h1>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="upload-button" for="file-input">+</label>
                <input id="file-input" class="hidden-input" type="file" name="scan" accept="image/*" onchange="this.form.submit()">
            </form>

            <p> Upload your Image </p>
        </div>

        <div id="h-two">

            <h1>Welcome To MedScanAI</h1>

            <p>Scan Your Disease before its too late..</p>

        </div>
    </div>


</body>
</html>